page-start {

    .margin {
        margin-top: 25%;
    }

    .button {
        width: 65%;
    }

    .buttons {
        text-align: center;
    }

    .background {
        background-color: #20838e;
    }

    .line {
        background-color: #7ec9c8;
        max-width: 260px;
    }

    .img {
        max-width: 80%;
        margin: auto;
        margin-top: 10%;
    }
}
