page-assignments {
    $faded-text: lighten(color($colors, 'dark'), 50%);

    .buffer {
        padding-top: 20px;
    }
    
    .item-footer {
        font-size: 1.5rem;
        padding: 20px 8px;
        background-color: #f1f3f4;
        margin-bottom: 15px;
        display: flex;
    }

    .item-md.item-block {
        .item-inner {
            padding: 0;

            .label-md {
                margin: 0;
            }
        }
    }

    .item-header {
        display: flex;
    }

    .line {
        background-color: #20838e;
        height: 2px;
    }
   
    .padding {
        padding: 10px 0px;
    }

    .duedate-title {
        color: rgb(56, 56, 56);
        background-color: #7ec9c8;
        width: 100%;
        padding: 8px !important; 
        margin: 0px;
        font-size: 16px;  
        font-weight: bold;     
    }
}