page-attendance {
    $faded-text: lighten(color($colors, 'dark'), 50%);

    .buffer {
        padding-top: 20px;
    }
    
    .item-footer {
        font-size: 1.5rem;
        background-color: #f1f3f4;
        padding-left: 20px;
        margin-bottom: 15px;
        display: flex;
    }

    .item-md.item-block {
        .item-inner {
            padding: 0;

            .label-md {
                margin: 0;
            }
        }
    }

    .item-header {
        display: flex;
    }

    .line {
        background-color: #20838e;
        height: 2px;
    }
   
    .padding {
        padding: 10px 0px;
    }

    .subject-title {
        color: rgb(56, 56, 56);
        background-color: #7ec9c8;
        width: 100%;
        padding: 8px !important; 
        margin: 0px;
        font-size: 16px;  
        font-weight: bold;     
    }

    .progress-bar {
        background-color: #f1f3f4;
        padding: 20px;
        padding-left: 10px;
        display: flex;

        .progress-amount {
            
                background-color: color($colors, 'header');
                display: block;
                height: 18px;

                &.red {
                    background-color: red;
                }
        }
            
    }
}