html, body {
    background-color: #eee;
    font-size: 14px;
}

.navbar {
    background-color: #222;
    border-bottom: 1px solid #7ec9c8;
    min-height: 3.5rem;
    padding: 0;
}

.btn {
  background-color: #20838e !important;
  color: #fff;
  padding: 8px 25px;
}

.btn:active {
  box-shadow: 0 0 10px #7ec9c8;
}

.logo {
  margin: auto;
  width: 80%;
  height: 80%;
}

.user {
  padding-top: : 10px;
  margin: auto;
  width: 50%;
  height: 50%;
}

.welcome {
  margin: auto;
}

.card-header, .titles {
  background-color: #20838e;
  color: #fff;
}

.items {
  background-color: #fff;
}

.toggle-sidebar {
    padding: 1rem;
}

.toggle-sidebar .icon {
    color: #caceda;
    font-size: 1.25rem;
}

#sidebar {
    background-color: #20838e;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 15rem;
    z-index: 1001;
}

#sidebar .navbar .navbar-brand {
    flex: 1;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

#sidebar #sidebar-nav .nav-item {
    border-bottom: 1px solid #7ec9c8;
    width: 100%;
}

#sidebar #sidebar-nav .nav-item .nav-link {
    align-items: center;
    border-left: 3px solid transparent;
    display: flex;
    height: 3.5rem;
    line-height: inherit;
    transition: border-left-color 0.2s ease;
}

#sidebar #sidebar-nav .nav-item .nav-link .icon {
    color: #fff;
    margin-right: 0.5rem;
    width: 2rem;
}

#sidebar #sidebar-nav .nav-item .nav-link span {
    color: #fff;
}

#sidebar #sidebar-nav .nav-item .nav-link .icon, #sidebar #sidebar-nav .nav-item .nav-link span {
    transition: color 0.2s ease;
}

#sidebar #sidebar-nav .nav-item .nav-link.active, #sidebar #sidebar-nav .nav-item .nav-link:hover {
    border-left-color: #7ec9c8;
}

#sidebar #sidebar-nav .nav-item .nav-link.active .icon, #sidebar #sidebar-nav .nav-item .nav-link.active span, #sidebar #sidebar-nav .nav-item .nav-link:hover .icon, #sidebar #sidebar-nav .nav-item .nav-link:hover span {
    color: #7ec9c8;
}

#sidebar #sidebar-nav .dropdown-menu {
    padding: 0;
    background-color: #222;
}

#sidebar #sidebar-nav .dropdown-menu .nav-item:last-child {
    border: none;
}

@media (max-width: 767px) {
    #sidebar {
        transform: translateX(-110%);
        margin-left: -1000px;
        transition: transform 0.5s ease;
        width: 100vw;
    }
    #sidebar.show {
        margin-left: 0;
        transform: translateX(0);
    }
}

#content {
    margin-left: 15rem;
}

#content .page-header h6 {
    color: #52627b;
    font-size: 0.8rem;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#content .page-header h3 {
    margin: 0;
}

#content .table {
    counter-reset: counter;
}

#content .table .counter::before {
    counter-increment: counter;
    content: counter(counter);
}

#content .table a {
    color: #52627b;
    margin-left: 0.25rem;
    text-decoration: none;
}

#content .table a .icon {
    font-size: 1rem;
}

@media (max-width: 767px) {
    #content {
        margin-left: 0;
    }
}

/*# sourceMappingURL=style.css.map */
